/* Atributos para los elementos en body General*/

body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(134, 175, 177);
    opacity: .9;
    box-sizing: border-box;
}
/* Atributos para la barra de navegacion en header */

.nav-bar a{
    text-decoration: none;
    color: aliceblue;
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(42, 90, 90);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.Logo{
    display: flex;
    align-items: center;
}
.Logo img{
    height: 80px;
    margin-right: 10px;
    border-radius: 3px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: aliceblue;

}
nav a:hover{
    color: chartreuse;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

/* Atributos para los elementos como main y articulos en el body */

.Publicidad img{
    align-items: end;
    width: 50px;
    height: 50px;
}
.Principal{
    font-family: sans-serif;
    color: aliceblue;
    text-align: justify;
    padding: 10px;
    margin: 135px;
    height: 400px;
    width: 1200px;
    margin-left: 330px;
    align-content: center;
    border: outset 7px rgb( 40, 190, 0);
    background-color: rgba(20, 20, 20, .2);
}
.Principal h1{
    text-align: center;
}
.Principal p{
    text-shadow: 1px 2px black;
}


#LogoPaginaPrincipal img{
    width: 300px;
    border-radius: 20px;
    position: relative;
    left: 40%;
    bottom: 120px;
}
#LogoPaginaPrincipal p{
    display: flex;
    position: relative;
    font-size: 18px;
    color: aliceblue;
    text-shadow: black 4px 5px 3px;
    left: 720px;
    bottom: 130px;
}

.articulo-uno{
    margin-left: 130px;
    padding: 40px;
    text-align: justify;
    text-shadow: 5px 5px 2px black;
    color: aliceblue;
    background-color: gold;
    height: 320px;
    max-width: 400px;
    background-image: url(ImagenMVP.jpg);
    background-size: cover;
    border-radius: 18px;
    border: solid 3px rgb( 40, 190, 0);
}
.articulo-uno button{
    display: block; 
    width: 150px;
    height: 50px;
    margin: 40px 40px 30px 110px;
    color: aliceblue;
    font-size: 18px;
    background-color: rgb(36, 109, 36);
    border: solid 1px whitesmoke;
}
.articulo-uno ol li{
    padding-bottom: 10px ;
    list-style-type: circle;
    background-color: rgba(57, 165, 57, 0.8);

}
.Informacion{
    margin: 100px;
    text-align: justify;
}

.articulo-dos{
    display: flex; 
    width: 150px;
    height: 50px;
    margin: 150px;
    color: aliceblue;
    font-size: 18px;
}

/* Atrinutos para los elementos de footer o pie de pagina */

.contenedor{
    max-width: 900px;
    margin: 0 auto;
}
footer{
    background-color: rgb(15, 32, 32);
    padding: 70px 0;
}
.footer-columnas{
    display: flex;
    flex-wrap: wrap;
}
.footer-enlaces{
    width: 30%;
}

.footer-enlaces h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    margin-left: 30px;
    font-weight: 500;
    border-bottom: 2px solid lightblue;
    padding-bottom: 5px;
    display: inline-block;
    align-items: right;
    justify-content: space-between;
}
.footer-enlaces ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    transition: all .3 ease;
    margin-left: 0px;
}
.footer-enlaces ul li a:hover{
    color: #4b67e1;
    padding-left: 3px;
}
.redes-enlaces a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0px;
    text-align: center;
    line-height: 30px;
    border-radius: 45%;
    color: white;
    transition: all .5s ease;
}
.box-contacts a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(100, 100, 100 );
    margin: 0 10px 10px 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 45%;
    color: white;
    transition: all .5s ease;

}
.direct-contacts ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    transition: all .3 ease;
}

/* Atributos para la pagina de registrarse */

/* .Registros{
    margin: 130px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 199, 88, 0.8);
    border-radius: 20px;
    border: outset 5px green;
    height: 600px;
    color: aliceblue;
    text-shadow: 5px 3px 3px black;
}
.Registros input{
    padding: 2px;
    margin-top: 9px ;
}
.Crearcuenta{
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
}
.InicioSesion{
    margin: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 199, 88, 0.8);
    border-radius: 20px;
    border: outset 5px green;
    height: 300px;
    color: aliceblue;
    text-shadow: 5px 3px 3px black;
}
.InicioSesion h2{
    padding: 25px;
}
.InicioSesion input:hover{
    background-color: grey;
    font-size: 17px;
    color: aliceblue;
}
.Crearcuenta input:hover{
    background-color: grey;
    font-size: 17px;
    color: aliceblue;
} */

/* Atributos para cartas presentacion de index */

.contenedor-cartas{
    width: 100%;
    display: flex;
    max-width: 900px;
    align-items: center;
    margin-left: 500px;
    margin-bottom: 50px;
}

.cartas-presentacion{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition:all 400ms ease;
}

.cartas-presentacion:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.cartas-presentacion img{
    width: 100%;
    height: 300px;
    border: outset 4px black;
}

.cartas-presentacion .contenido-carta{
    padding: 15px;
    text-align: center;
}

.cartas-presentacion .contenido-carta p{
    line-height: 1.5;
    color: rgb(66, 65, 65);
    text-align: justify;
}
.cartas-presentacion .contenido-carta h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.cartas-presentacion .contenido-carta a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.cartas-presentacion .contenido-carta a:hover{
    background-color: rgb(42, 90, 90);
    color: aliceblue;
}

/* aqui van los atributos para el menu de perfiles */

/* .conte_parent{
    display: inline-block;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
}
  .conte{
      height: 500px;
      width: 300px;
      box-shadow:0 0 7px #111 ;
      margin: 30px 30px;
  }
  .conte .card-one{
      height: 200px;
      width: 100%;
      margin-bottom: 170px;
  }
  .card-one img{
      margin: auto;
      display: flex;
  }
  .conte .card-one img{
      height: 330px;
      width: 300px;
  }
  .conte .card-one{
       background-color: #531414;
  }
  .conte .card-one{
   border-color: #111;
   border: solid 1px;
    background-color: aliceblue;
  }
  .information{
      height: 80px;
      width: 100%;
  }
  .information h2{
      font-family: sans-serif;
      font-size: 1.2em;
      text-align: center;
      color: aliceblue;
      margin-bottom: -10px;
  }
  .information p{
      text-align: center;
      font-family: sans-serif;
      font-size: 1em;
      color: rgb(212, 212, 250);
  }
 
  /* segundo intento de galeria de perfiles */

.column-two{
    padding: 0px;
    margin-left: 350px;
    display: inline-flex;
    margin-top: -900px;
} 