/* Atributos para los elementos en body General*/

body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(42, 90, 90);
    opacity: .9;
    box-sizing: border-box;
}
/* Atributos para la barra de navegacion en header */

a{
    text-decoration: none;
    color: aliceblue;
}
header{
    display: flex;
    min-height: 70px;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Logo{
    display: flex;
    align-items: center;
}
.Logo img{
    height: 80px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;

}
nav a:hover{
    color: chartreuse;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

/* Atributos para los elementos como main y articulos en el body */

.Publicidad img{
    align-items: end;
    width: 50px;
    height: 50px;
}
.Principal{
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 135px;
    height: 160px;
    align-content: center;
    border: outset 10px rgb( 40, 190, 0);
    background-color: rgba(20, 20, 20, .2);
}
.articulo-uno{
    margin-left: 130px;
    padding: 40px;
    text-align: justify;
    text-shadow: 5px 5px 2px black;
    color: aliceblue;
    background-color: gold;
    height: 320px;
    max-width: 400px;
    background-image: url(ImagenMVP.jpg);
    background-size: cover;
    border-radius: 18px;
    border: solid 3px rgb( 40, 190, 0);
}
.articulo-uno button{
    display: block; 
    width: 150px;
    height: 50px;
    margin: 40px 40px 30px 110px;
    color: aliceblue;
    font-size: 18px;
    background-color: rgb(36, 109, 36);
    border: solid 1px whitesmoke;
}
.articulo-uno ol li{
    padding-bottom: 10px ;
    list-style-type: circle;
    background-color: rgba(57, 165, 57, 0.8);

}
.Informacion{
    margin: 100px;
    text-align: justify;
}

.articulo-dos{
    display: flex; 
    width: 150px;
    height: 50px;
    margin: 150px;
    color: aliceblue;
    font-size: 18px;
}
.TablaSemanal{
    padding: 10px;
    background-color: blue;
    opacity: 0.9;
    display: inline-block;
}

/* Atrinutos para los elementos de footer o pie de pagina */

.contenedor{
    max-width: 900px;
    margin: 0 auto;
}
footer{
    background-color: rgb(42, 43, 90);
    padding: 70px 0;
}
.footer-columnas{
    display: flex;
    flex-wrap: wrap;
}
.footer-enlaces{
    width: 30%;
    padding: 10px 14px;
}
.footer-enlaces h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid lightblue;
    padding-bottom: 5px;
    display: inline-block;
    align-items: right;
    justify-content: space-between;
}
.footer-enlaces ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    transition: all .3 ease;
}
.footer-enlaces ul li a:hover{
    color: #4b67e1;
    padding-left: 3px;
}
.redes-enlaces a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 45%;
    color: white;
    transition: all .5s ease;
}

/* Atributos para la pagina de registrarse */

.Registros{
    margin: 130px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 199, 88, 0.8);
    border-radius: 20px;
    border: outset 5px green;
    height: 600px;
    color: aliceblue;
    text-shadow: 5px 3px 3px black;
}
.Registros input{
    padding: 2px;
    margin-top: 9px ;
}
.Crearcuenta{
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
}
.InicioSesion{
    margin: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 199, 88, 0.8);
    border-radius: 20px;
    border: outset 5px green;
    height: 300px;
    color: aliceblue;
    text-shadow: 5px 3px 3px black;
}
.InicioSesion h2{
    padding: 25px;
}
.InicioSesion input:hover{
    background-color: grey;
    opacity: 0.6;
    font-size: 17px;
}
.Crearcuenta input:hover{
    background-color: grey;
    opacity: 0.7;
    font-size: 17px;
}